<div style="text-align: center; margin-top: 13%">
    <h2> No dejes que tus ingredientes se echen a perder. Descubre recetas creativas en segundos y dale vida a tu cocina.</h2>
</div>

<div style="text-align: center; margin-top: 8%">
    <h4>Ingresa aquí algunos ingredientes para tu receta:</h4>
</div>

<form style="margin-top: 7%; display: flex; justify-content: space-around; align-items: center;" action='@Url.Action("Resultados","Home")'>
    <input type="text" placeholder="Ingrediente 1" name="Ingrediente1">
    <input type="text" placeholder="Ingrediente 2" name="Ingrediente2">
    <input type="text" placeholder="Ingrediente 3" name="Ingrediente3">
    <br>
    <input type="submit" class="btn btn-warning">
</form>
