<div style="text-align: center; margin-top: 13%">
    <h2>¡Encuentra recetas rápidamente al buscar el nombre de tu plato favorito y descubre nuevas formas de prepararlo!</h2>
</div>

<form style="margin-top: 9%; display: flex; flex-direction: column; align-items: center;" action='@Url.Action("Resultados","Home")'>
    <input type="text" placeholder="¿Qué receta quieres hacer hoy?" name="nombre" style="width: 100%">
    <input type="submit" style="text-align: center; margin-top: 3%;" class="btn btn-warning">
</form>
