<div style="text-align: center;">
    <img src="/img/logo.png" alt="LOGO" style="height: 20%; width: 20%; margin-bottom: 6%">
</div>
<div style="text-align: center">
    <img src="/img/creditos/AGOS.jpg" alt="img">
    <img src="/img/creditos/JOACO.jpg" alt="img">
    <img src="/img/creditos/JULI.jpg" alt="img">
    <img src="/img/creditos/MAXI.jpg" alt="img">
</div>