<div style="text-align: center;">
    <img src="logo.png" alt="LOGO">
</div>
<div>
    <img src="/creditos/AGOS.jpg" alt="LOGO">
    <img src="/creditos/JOACO.jpg" alt="LOGO">
    <img src="/creditos/JULI.jpg" alt="LOGO">
    <img src="/creditos/MAXI.jpg" alt="LOGO">

</div>