<div>
    <img class="banner" src= "@ViewBag.Receta.Banner" alt="banner">
    <h2>@ViewBag.Receta.Nombre</h2>
    <p>@ViewBag.Receta.Descripcion</p>
    <p>@ViewBag.Receta.Pasos</p>

</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ValorarModal">
  Valora esta Receta
</button>

<div class="modal fade" id="ValorarModal" tabindex="-1" aria-labelledby="ValorarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ValorarModalLabel">Califica tu experiencia con esta receta!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
            <label for="Valoracion">Valoracion</label>
            <input type="text" name="Valoracion" id="Valoracion">
            <br>
            <label for="Dificultad">Dificultad</label>
            <input type="file" name="Dificultad" id="Dificultad">
            <br>
            <label for="Duracion">Duracion</label>
            <input type="file" name="Duracion" id="Duracion">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="">Save changes</button>
      </div>
    </div>
  </div>
</div>