<div style="text-align: center;">
    <img src="logo.png" alt="LOGO">
</div>

<div>
    <a class="creditos" href='@Url.Action("Creditos","Home")'>Creditos</a>
</div>

<div>
    <p class="fw-semibold text-muted" style="text-align: center; margin-top: 8%">Quieres buscar por...</p>
</div>

<div class="button busqueda" >
    <a type="button" class="btn btn-warning">Ingredientes</a>
    <a type="button" class="btn btn-warning">Receta</a>
</div>



