it<div style="text-align: center;">
    <img src="logo.png" alt="LOGO">
</div>

<div>
    <a class="creditos" href='@Url.Action("Creditos","Home")'>Creditos</a>
</div>

<div>
    <p class="fw-semibold text-muted" style="text-align: center; margin-top: 8%">Quieres buscar por...</p>
</div>

<div class="button busqueda" >
    <a type="button" class="btn btn-warning">Ingredientes</a>
    <a type="button" class="btn btn-warning">Receta</a>
</div>
<footer>
        <p style="text-align: center; margin-top: 4%">___________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
        <div style="margin-top: 3%; text-align: center">
            <p>No estas decidido o estás dispuesto a probar cosas nuevas?</p><br>
            <a href="" style="color: rgb(240, 194, 45); justifycontent: center" href="">Sorprendeme!</a>
        </div>
</footer>