<div style="text-align: center;">
    <img src="logo.png" alt="LOGO">
</div>


<div style="display: flex; flex-direction: row !important; justify-content: center; gap: 3vw; margin-top: 4%; margin-bottom: 4%">
@foreach(Receta rec in ViewBag.RecetasDestacadas){
    <a href='@Url.Action("DetalleReceta", "Home", new {receta = rec})'>
    <div class="card">
        <img src="@rec.Img" alt="img" class="imgboxhome"><br>
        <h3 style="text-decoration: none;">@rec.Nombre</h3>
    </div>
    </a>
}
</div>

<div>
    <a class="creditos" href='@Url.Action("Creditos","Home")'>Creditos</a>
</div>

<div>
    <p class="fw-semibold text-muted" style="text-align: center; margin-top: 8%">Quieres buscar por...</p>
</div>

<div class="button busqueda" >
    <a type="button" class="btn btn-warning">Ingredientes</a>
    <a type="button" class="btn btn-warning">Receta</a>
</div>



