
<div class="container mt-5">
  <div class="text-center">
    <img src="ruta_de_la_foto_de_perfil.jpg" alt="Foto de perfil" class="rounded-circle" style="width: 150px; height: 150px;">
    <h2 class="mt-3">Nombre de Usuario</h2>
  </div>


<div class="mt-4">
  <h3>Tus Favoritas:</h3>

<div style="display: flex; flex-direction: row; margin-top: 3%; justify-content: space-between; margin-bottom: 3%">

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="#" class="card-img" alt="img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Receta 1</h5>
            <p class="card-text">Descripción de la receta 1.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="#" class="card-img" alt="img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Receta 2</h5>
            <p class="card-text">Descripción de la receta 2.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="#" class="card-img" alt="img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Receta 3</h5>
            <p class="card-text">Descripción de la receta 3.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="#" class="card-img" alt="img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Receta 4</h5>
            <p class="card-text">Descripción de la receta 4.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="mt-4">
  <h3>Recetas Creadas:</h3>

<div style="display: flex; flex-direction: row; margin-top: 3%; justify-content: space-between; margin-bottom: 3%">

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="#" class="card-img" alt="img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Receta 1</h5>
            <p class="card-text">Descripción de la receta 1.</p>
          </div>
        </div>
      </div>
    </div>


    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="#" class="card-img" alt="img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Receta 2</h5>
            <p class="card-text">Descripción de la receta 2.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="#" class="card-img" alt="img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Receta 3</h5>
            <p class="card-text">Descripción de la receta 3.</p>
          </div>
        </div>
      </div>
    </div>


    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="#" class="card-img" alt="img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Receta 4</h5>
            <p class="card-text">Descripción de la receta 4.</p>
          </div>
        </div>
      </div>
    </div>



  </div>
 

  <div class="text-center mt-4">
    <button class="btn btn-danger">Cerrar Sesión</button>
  </div>

</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#RecetaModal">
  Subir Receta
</button>


<div class="modal fade" id="RecetaModal" tabindex="-1" aria-labelledby="RecetaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="RecetaModalLabel">Subir Receta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
            <label for="Titulo">Titulo</label>
            <input type="text" name="Titulo" id="Titulo" style="margin-bottom: 4%">
            <br>
            <label for="Portada">Portada</label>
            <input type="file" name="Portada" id="Portada" style="margin-bottom: 4%">
            <br>
            <label for="Banner">Banner</label>
            <input type="file" name="Banner" id="Banner" style="margin-bottom: 4%">
            <br>
            <label for="Pasos">Pasos</label>
            <input type="text" name="Pasos" id="Pasos" style="margin-bottom: 4%">
            <br>
            <label for="Descripcion">Descripcion</label>
            <input type="text" name="Descripcion" id="Descripcion" style="margin-bottom: 4%">
            <br>
            <label for="TipoPP">Plato Principal</label>
            <input type="checkbox" name="TipoPP" id="TipoPP" style="margin-bottom: 4%">
            <br>
            <label for="TipoPostre">Postre</label>
            <input type="checkbox" name="TipoPostre" id="TipoPostre" style="margin-bottom: 4%">
            <br>
             <label for="TipoGuarnicion">Guarnición</label>
            <input type="checkbox" name="TipoGuarnicion" id="TipoGuarnicion" style="margin-bottom: 4%">
            <br>
             <label for="TipoEntrada">Entrada</label>
            <input type="checkbox" name="TipoEntrada" id="TipoEntrada">

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="">Save changes</button>
      </div>
    </div>
  </div>
</div>