<div class="Registro" style="text-align: center;">
    <div>
        <img src="/img/logo.png" alt="LOGO" style="width: 35%; height: 35%;">
    </div>
        <div class="form-text">Regístrate para más beneficios!</div>
    <form action='@Url.Action("Registro","Account")' method="post">
     <div class="mb-3">
        <label class="form-label"></label>
        <input type="text" class="form-control" id="username" name="nombre" autocomplete="off" placeholder="Nombre de usuario" required>
    </div>
    <div class="mb-3" style="margin-top: -2%">
     <label class="form-label"></label>
     <input type="password" class="form-control" id="contrasenia" name="contrasenia" placeholder="Contraseña" required>
      <div class="form-text" style="display: flex; justify-content: flex-start;">Nosotros nunca compartiremos tu contraseña.</div>
    </div>
    <div class="mb-3" style="margin-top: -2%">
     <label class="form-label"></label>
     <input type="email" class="form-control" id="Mail" autocomplete="off" placeholder="Mail" required>
     <label class="form-label"></label>
     <input type="file" class="form-control" id="Perfil" accept="image/png" autocomplete="off">
    </div>
    <div class="button">
        <button type="submit" value="Ingresar" class="btn btn-primary" style="width: 60%">Registrarse</button>
    </div>
    </form>
    <p class="fw-normal">Al registrarte aceptas nuestras <strong>Condiciones y la Política de privacidad.</strong></p>
    <p class="fw-normal">Ya tienes una cuenta? <a href='@Url.Action("IniciarSesion","Home")'>Iniciar Sesion!</a></p>
</div>