/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-yhja1s4xtf] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

<<<<<<< HEAD
a[b-yhja1s4xtf] {
  color: #0077cc;
}

=======
>>>>>>> 1c48bb2e506cd91931ce7eb84191fafcfcfba5eb
.btn-primary[b-yhja1s4xtf] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-yhja1s4xtf], .nav-pills .show > .nav-link[b-yhja1s4xtf] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-yhja1s4xtf] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-yhja1s4xtf] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-yhja1s4xtf] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-yhja1s4xtf] {
  font-size: 1rem;
  line-height: inherit;
}

.perfil[b-yhja1s4xtf]
{
  display: flex;
  width:60px;
  height: 60px;
  position:fixed;
  flex-direction: row-reverse;
  top:30px;
  right:0;
  margin-right: 30px;
  border-radius: 100%;
}
.flecha[b-yhja1s4xtf]
{
  display: flex;
  width:60px;
  height: 60px;
  position:fixed;
  flex-direction: row;
  top:30px;
  left:0;
  margin-left: 30px;
}
