h1,h2,h3,p{
  font-family: "Montserrat";
}
html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem rgb(255, 255, 255), 0 0 0 0.25rem #258cfb;
}

.busqueda
{
  display: flex;
  flex-direction: row;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 4%;
  justify-content: space-around;
}

.creditos
{
  display: flex;
  width:60px;
  height: 60px;
  position:fixed;
  flex-direction: row-reverse;
  top:30px;
  right:0;
  margin-right: 130px;
}

.Registro{
  text-align: center;
  align-items: center;
}
.IniciarSesion{
  text-align: center;
  align-items: center;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
.card{
  height: 12vw;
  width: 12vw;
  border: black, 1px;
  border-radius: 10%;
  text-align: center;
}

.imgboxhome{
  object-fit: cover;
  width: 12vw;
  height: 100%;
  border-radius: 10%;
}

.banner{
  object-fit: cover;
  margin-top: 5vw;
  width: 100%;
  height: 15vw;
}

.inlinediv{
  display: flex;
  justify-content: space-around;
  align-items: center;
}